.wrapper
  .sidebar
    = render 'shared/sidebar'
  .message-contents
    .message-contents__header
      .message-contents__header__group-info
        .message-contents__header__group-info__group-name
          = @group.name
        .message-contents__header__group-info__group-member
          Menber:
          - @group.users.each do |user|
            = user.name
      / リンク先 edit_group(@group)?
      .message-contents__header__edit-button
        Edit
    .message-contents__body
      = render partial: 'message', collection: @messages
    .message-contents__footer
      = form_for [@group, @message], html: { class: 'message-form' } do |f|
        = f.text_field :content, class: 'message-form__text', placeholder: 'type a text'
        .message-form__file
          = f.label :image, class: 'message-form__file__icon' do
            = fa_icon 'image lg'
            = f.file_field :image, class: 'message-form__file__send-file'
        = f.submit 'Send', class: 'message-form__submit'

